@import url("https://use.typekit.net/fyw5yob.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
}

:root {
	--header-height: 5rem;
	--font-semi: 600;
	--font-bold: 700;
}

:root {
    --white-color:#f5f5f5;
    --dark-color:#0A0A0A;
    --grayishBlue: hsl(229, 6%, 66%);
}

:root {
	--body-font: 'poppins', sans-serif; 
	--big-font-size: 3rem;
	--h1-font-size: 1.5rem;
	--title:3rem;
	--about-title:2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: .938rem;
	--small-font-size: .75rem;
}

@media screen and (min-width: 768px) {
	:root {
	--big-font-size: 6rem;
	--h1-font-size: 2.25rem;
	--h2-font-size: 1.5rem;
	--title:5rem;
	--about-title:3rem;
	--normal-font-size: 1rem;
	--small-font-size: .813rem;
	}	
}

:root {
	--mb-1: .5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
}

:root {
	--z-tooltip: 10;
	--z-fixed: 100;
}

*,::before,::after{
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 15px;
}
  
::-webkit-scrollbar-track {
	background: #4f4f4f; 
}
   
::-webkit-scrollbar-thumb {
	background: rgb(99, 99, 99); 
}
  
::-webkit-scrollbar-thumb:hover {
	background: rgb(119, 119, 119); 
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
    background-color: var(--dark-color);
    color: var(--white-color);
    line-height: 1.6;
}

h1,h2,p{
	margin: 0; 
}

i{
	cursor: pointer;
}

a{
	text-decoration: none;
	color: var(--white-color);
}

img{
	max-width: 100%;
	height: auto;
}

.text{
	background: radial-gradient(circle at 12.3% 19.3%, #5558da 0%, #0590c2 100.2%);	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/*<===NAVBAR===>*/

.header{
	width: 100%;
	position: fixed;
	top: 0;
	height: var(--header-height);
	left: 0;
	background-color: #0A0A0Af9;
	display: flex;
	border-bottom: 1px solid #80808014;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
}


.nav{
	word-spacing: 2rem;
}

.nav__link{
	display: inline-block;
	position: relative;
}

.nav__link:after {
	content: '';
	position: absolute;
	width: 80%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	border-radius: 10px;
	left: 0;
	background: #0590c2;
	transform-origin: bottom right;
	transition: transform 0.21s ease-out;
}
  
.nav__link:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/*<===MENU===>*/

.menu{
	display: none;
}

.bx-menu{
	font-size: var(--h1-font-size);
	transition: 0.5s;
}

.bx-menu:hover{
	color:#0590c2;
}

@media screen and (max-width: 780px) {
	.menu{
		display: block;
	}
	
	.nav{
		display: none;
	}
}


/*<===HOME===>*/

.home{
	padding-top: 8rem;
	display: flex;
	justify-content: center;
}


.home__img{
	width:26rem;
	border-radius: 15px;
}

.info{
	padding-top: 3rem;
	padding-left: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30rem;
}

.home__title{
	font-size: var(--title)
}

.home__text{
	font-size: large;
}

@media screen and (max-width:768px) {
	.home{
		flex-direction:column;
		align-items: center;
	}
	.info{
		padding-left: 4vw;
		width: 100%;
	}
}


/*<===ABOUT===>*/

.about{
	padding-top: 10rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.about__title{
	font-size: var(--about-title);
}

.techs{
	word-spacing: 0.5rem ;
	display: flex;
	width: 30%;
}

.tech{
	padding: 0.67em !important;
	border: 1px solid #8080806e;
	border-radius: 10px;
	text-transform: uppercase;
	word-spacing: 0;
	display: inline-block;
	margin-bottom: 10px;
}

.about__info{
	font-size:large;
	width: 50%;
}

@media screen and (max-width:768px){
	.about{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.about__info{
		width: 90%;
	}
	.techs{
		width: 90%;
		margin-top: 3rem;
	}
}

/*<===FOOTER===>*/

.footer{
	margin-top: 6rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 48vh;
    align-items: center;
    background-color: #111111c9;
    flex-direction: column;
}

.social{
    display: flex;
	justify-content: center;
	width: 60%;
}

.social i{
	font-size: xx-large;
	transition: 0.2s;
	margin-right: 3rem;
}

.bx-chevron-up{
    font-size: xx-large;
    cursor: pointer;
}

.bxl-upwork:hover{
	color: #03e94f;
    text-shadow: rgba(	4, 231, 79, 0.779) 0 1px 30px;

}

.bxl-twitter:hover{
    text-shadow: rgba(0, 128, 255, 0.779) 0 1px 30px;
    color: rgb(0, 128, 255);
}

.bxl-linkedin:hover{
    text-shadow: rgba(0, 106, 255, 0.779) 0 1px 30px;
    color: rgb(0, 106, 255);
}

.bxl-github:hover, .bx-envelope:hover{
    text-shadow: rgba(255, 255, 255, 0.525) 0 1px 30px;
    color: rgb(255, 255, 255);
}

.bxl-instagram:hover{
    text-shadow: rgba(235, 55, 235, 0.779) 0 1px 30px;
    color: rgb(235, 55, 235);
}

.dash{
    width: 50vw;
    border-top: 1px solid gray;
}

.credit{
	font-size: medium;
}

@media screen and (max-width:667px) {
	.social{
		width: 100%;
	}
	.social i{
		margin-right: 3vw;
	}
}

/*<===PROJECTS===>*/

.projects{
	padding-top: 8rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.project__title{
	font-size: var(--about-title);
}

.project__name{
	font-size: x-large;
}

.project{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding-left: 5vw;
	margin-top: 4rem;
}

.project__info{
	width: 90%;
	font-size: small;
}

.links{
	word-spacing: 1rem;
	font-size: x-large;
}

.bx-link-external, .bx-code-alt{
	transition: 0.3s;
}

.bx-link-external:hover, .bx-code-alt:hover{
	color: #0590c2;
}

.project__img{
	margin-top: 2rem;
	width: 80%;
	height: auto;
	box-shadow: 0px 0px 10px 0px rgba(5, 144, 194,0.75);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(5, 144, 194,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(5, 144, 194,0.75);
	border-radius: 0.6em;
	transition: 0.3s;
}

.project__img:hover{
	transform: translate(0, -10px);
}

@media screen and (max-width:768px){
	.project__img{
		width: 95%;
	}
}

.view{
	font-size: large;
	cursor: pointer;
	transition: 0.2s;
}

.view:hover{
	text-shadow: 0px 2px 20px #0590c2;	

}

/*<===EXPERIENCE===>*/

.experience{
	width: 100%;
	padding-left: 5vw;
	padding-top:6rem;
}

.experience__title{
	font-size: xx-large;
	position: relative;
}

.tle{
	background: radial-gradient(465px at -15.1% -25%, rgb(17, 130, 193) 0%, rgb(67, 166, 238) 49%, rgb(126, 203, 244) 90.2%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
	padding: 2vw;
	width: 30rem;
	background-color: var(--dark-color);
	height: auto;
	box-shadow: 0px 28px 45px -23px rgba(84,158,242,0.5);
	-webkit-box-shadow: 0px 28px 45px -23px rgba(84,158,242,0.5);
	-moz-box-shadow: 0px 28px 45px -23px rgba(84,158,242,0.5);
	margin-top: 2rem;
	transition: 0.3s;
}

.box img {
	width: 100px;
	height: auto;
	border-radius:5px;
}

.box:hover{
	transform: translate(0, -10px);
}

.blue {
    border-top: 3px solid #549ef2;
}

.exp{
	font-size: medium;
}

.head{
	display:flex;
	align-items: center;
	justify-content: flex-start;
}

@media screen and (max-width:500px){
	.head{
		flex-direction: column;
		align-items: flex-start;
	}
	.time{
		padding-bottom: 1vw;
		padding-left: 0vw !important;
	}
}

.time{
	padding-left: 1vw;
	font-size: small;
}

@media screen and (max-width:768px){
	.box{
		width: 97%;
	}
}

/*<===HIRE===>*/

.hire{
	padding-top: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hire__info{
	padding-top: 3rem;
	padding-left: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40rem;
}

.hire__img{
	width: 30rem;
}

.hire__text{
	font-size: medium;
}

.button{
	cursor: pointer;
	display: inline-block;
	background: radial-gradient(circle at 12.3% 19.3%, #5558da 0%, #0590c2 100.2%);
	color: var(--white-color);
	padding: 0.8rem 1rem; 
	padding-bottom: 0.5rem;
	font-size: small;
	border-radius: 15px;
	transition: .3s;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (max-width:970px){
	.hire__info{
		width: 100%;
		padding-left: 4vw;
	}
	.hire{
		flex-direction:column;
	}
}

/*<===SIDEBAR===>*/

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	backdrop-filter: blur(4px);
	right: 0;
	background-color: #0A0A0Af7;
	border-left:1px solid #80808014;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar{
	color: white;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.nav__text{
	border-bottom: 1px solid #80808014;
	margin-bottom: 3rem !important;
	padding-left: 1vw;
	display: flex;
	font-size: x-large;
	align-items: center;
}

.closebtn{
	transition: 0.5s;
}

.closebtn:hover{
	color:#0590c2;
}

/*<===BUY===>*/
.buy{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.buy__title{
	font-size: var(--about-title);
	font-family: monospace;
	text-shadow: 0px 2px 50px #6C63FF;	
}

.buy__img{
	width: 30rem;
}

@media screen and (max-width:786px){
	.buy__img{
		width: 75%;
	}
}

/*<===WORK===>*/
