<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parth Kabra</title>
        <link rel="stylesheet" href="../static/css/index.css">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" href="../static/img/logo.png">
    </head>
<body>
    
    <section class="buy">

        <img src="../static/img/coming soon.svg" class="buy__img">

        <br>
        <br>

        <h1 class="buy__title">Announcing soon</h1>

    </section>

</body>
</html>