<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parth Kabra | Freelance</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link href="{{ url_for('static', filename='css/boxicons.min.css') }}" rel='stylesheet'>
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    </head>
<body>
    
    <div id="mySidebar" class="sidebar" >
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <br>
        <span class="options">
            <a href="/" class="nav__text">Home</a>
            <a href="#about" class="nav__text">About</a>
            <a href="#plans" class="nav__text">Plans</a>
            <a href="#contact" class="nav__text">Contact</a>
        </span>
    </div>


    <section data-aos="zoom-in" class="about" id = "about">
        
        <span class="about__info">

            <p class="about__title">Hi, I'm <span class="text">Parth</span></p>

            <br>

            <p class="about__text">
            
                Hi, I'm Parth Kabra,<br>
                I'm a freelance web developer with a passion for building engaging websites and web applications. With my skills in both server-side rendered (SSR) and client-side rendered (CSR) development, I can bring your vision to life and create a web experience that users will love. Plus, I always keep <b class="text">SEO</b> in mind during development to make sure your site performs well in search engine results. Let's work together and create something amazing!
                
            </p>

            <br>
            <p class="about__text">I'm all about pushing the boundaries and taking on new challenges. I've worked with a variety of clients from different industries, so I'm comfortable with tackling anything you can throw at me. If you're looking for a web developer who's not afraid to think outside the box and get creative, then look no further!</p>
            <br>
            <p class="about__text">Ready to take your web project to the next level? Let's work together and create something amazing!</p>

        </span>

        <span class="techs">
            <img  src="{{ url_for('static', filename='img/build.svg') }}" class="home__img">
        </span>

    </section>

    <section class="projects" style="padding-top: 10rem !important;">

        <p class="about__title text">What can I do.</p>      
        
        <br>
        <br>

        <span data-aos="fade-up" data-aos-duration="800" style="padding-top: 0rem;" class="hire" id = "hire">

            <img  src="{{ url_for('static', filename='img/design.svg') }}" class="freelance__img">
    
            <span class="hire__info">
                <span>
                    <p class="experience__title parth">Design what you want.</p>
                    <br>
                    <p class="hire__text">
                        I like to keep it <b class="text">simple</b>. It is my goal to make your website look good, convey your message effectively, and ensure that <b class="text">typography</b>, <b class="text">content</b>, and <b class="text">design</b> are all taken into consideration
                    </p>
                </span>
            </span>
    
        </span>

        <span data-aos="fade-up" data-aos-duration="800" style="padding-top: 8rem;" class="hire" id = "hire">

            <img  src="{{ url_for('static', filename='img/develop.svg') }}" class="freelance__img">
    
            <span class="hire__info">
                <span>
                    <p class="experience__title parth">Develop what you need.</p>
                    <br>
                    <p class="hire__text">
                        As an experienced developer, I can create your website using the <b class="text">latest technologies</b> to run across multiple devices.
                    </p>
                </span>
            </span>
    
        </span>

    </section>

    <section style="padding-top: 10rem !important;" data-aos="fade-up" data-aos-duration="800" class="testimonials experience">

        <p class="experience__title">What people think about my work?</p>

        <br>

        <span class="testimonial">

            <p class="testi__text">
                Parth Kabra has been an amazing creator. His skills coupled with his implementation of ideas is irreplaceable. At Senior, we found his work to be impeccable, and his work proved to be helpful in gaining customer traction as well; we almost doubled our retention rate during his work span. We would highly recommend his development work, and also his ideas and zeal to provide the best for you, regardless of what you ask for. We wish him the best on his journey.            </p>
            <br>

            <span class="testi">
                <img class="testi__img"  src="{{ url_for('static', filename='img/jaskaran.jpg') }}">

                <span class="brand">

                    <span>
                        <h4 class="testi__name">Jaskaran Singh</h4>
                        <p class="testi__work">Co-Founder of Senior</p>
                    </span>

                </span>

            </span>

        </span>

    </section>

    <section class="why__me">

        <p class="experience__title">Why choose <b class="text">me</b>?</p>

        <br>

        <span class="gigs">
            <span class="gig">

                <i class='bx bx-git-compare'></i>
                <p class="testi__text">
                    2+ years of experience working with modern web technologies.
                </p>
    
            </span>
    
            <span class="gig">
    
                <i class='bx bx-happy-heart-eyes' ></i>
                <p class="testi__text">
                    100% client statisfaction.
                </p>
    
            </span>
    
            <span class="gig">
    
                <i class='bx bx-lock-alt' ></i>
                <p class="testi__text">
                    100% secure web apps.
                </p>
    
            </span>
        </span>

    </section>

    <section class="plans" id = "plans" data-aos="fade-up">

        <p class="experience__title" align="center">Our future lies ahead of us, <span class="text">let's build it together!</span></p>

        <br>
        <br>

        <span class="gigs">

            <span class="plan basic">

                <p class="plan__text">Basic</p>
                
                <p class="plan__info" align="center">
                    The goal is to create a beautiful and user-friendly static frontend based website.
                </p>

                <ul>
                    <li>Design Customization</li>
                    <li>Responsive design</li>
                    <li><b>1</b> Revisions</li>
                    <li><b>15 Day</b> Delivery Time</li>
                </ul>
    
                <p class="plan__total">Total - ₹2599</p>
    
    
                <button class="contact__btn plan__btn">Select</button>
    
            </span>

            <span class="plan standard">

                <p class="plan__text">Standard</p>
                
                <p class="plan__info" align="center">
                    Create a fully functioning web application with a beautiful frontend connected with a basic backend.
                </p>

                <br>
    
                <ul>
                    <li>Design Customization</li>
                    <li>Responsive design</li>
                    <li>Content upload</li>
                    <li>Include source code</li>
                    <li><b>2</b> Revisions</li>
                    <li><b>10 Day</b> Delivery Time</li>
                </ul>
    
                <p class="plan__total">Total - ₹2999</p>
    
                <br>
    
                <button class="contact__btn plan__btn">Select</button>
    
            </span>

            <span class="plan premium">

                <p class="plan__text">Premium</p>
                
                <p class="plan__info" align="center">
                    Create a complex web application with custom features and all full stack functionality.
                </p>

                <br>
    
                <ul>
                    <li>Design Customization</li>
                    <li>Responsive design</li>
                    <li>Content upload</li>
                    <li>Include source code</li>
                    <li><b>4</b> Revisions</li>
                    <li><b>7 Day</b> Delivery Time</li>
                </ul>
    
                <p class="plan__total">Total - ₹3099</p>
    
                <br>
    
                <button class="contact__btn plan__btn">Select</button>
    
            </span>
    
        </span>

    </section>

    <section class="contact" id="contact">
        
        <span data-aos="fade-up" data-aos-duration="800" class="contact__main">
            <p class="contact__title">Let's get in touch!</p>

            <form class="form" onsubmit="return false">
                
                <span>
                    <p class="input__name">Name</p>
                    <input type="text" required name="name" id="name" class="name" placeholder="Enter your name">
                </span>

                <br>

                <span>
                    <p class="input__name">Email</p>
                    <input type="email" required name="email" id="email" class="email" placeholder="Enter your email">
                </span>

                <br>

                <span>
                    <p class="input__name">Message</p>
                    <textarea required name="msg" id="msg" class="msg" placeholder="Enter your message"></textarea>
                </span>

                <br>
                <button class="contact__btn" role="button" type="submit">Submit</button>
                

            </form>
        </span>

    </section>

    <footer class="footer">
            
        <a onclick="scrolltop()"><i class='bx bx-chevron-up' ></i></a>
    
        <span class="social">
                <a target="_blank" href="mailto:parthkabra002@gmail.com">
                    <i class='bx bx-envelope' ></i>
                </a>

                <a target="_blank" href="https://twitter.com/_parthkabra">
                    <i class='bx bxl-twitter' ></i>
                </a>

                <a target="_blank" href="https://www.instagram.com/_parthkabra/">
                    <i class="bx bxl-instagram"></i>
                </a>

                <a target="_blank" href="https://www.linkedin.com/in/parth-kabra-3164a5205/">
                    <i class='bx bxl-linkedin' ></i>
                </a>

                <a target="_blank" href="https://github.com/parth-kabra">
                    <i class='bx bxl-github' ></i>
                </a>

                <a target = "_blank" href = "https://www.upwork.com/freelancers/~01805dc65c28fae55b">
                    <i class='bx bxl-upwork'></i>
                </a>
        </span>
        
        <p class="dash"></p>

        <p class="credit text">With love from Parth Kabra</p>
    
    </footer>

    <span class="side__icons">

        <a target="_blank" href="https://www.linkedin.com/in/parth-kabra-3164a5205/">
            <i class='bx bxl-linkedin' ></i>
        </a>

        <a target = "_blank" href = "https://www.upwork.com/freelancers/~01805dc65c28fae55b">
            <i class='bx bxl-upwork'></i>
        </a>

    </span>


    <header class="header">
        
        <a href="/"><h1 class="text" style="cursor: pointer">Parth</h1></a>

        <span class="nav">
            
            <a href="/" class="nav__link">Home</a>
            <a href="#about" class="nav__link">About</a>
            <a href="#plans" class="nav__link">Plans</a>
            <a href="#contact" class="nav__link">Contact</a>
            

        </span>

        <span class="menu">
            <i class='bx bx-menu' onclick="openNav()"></i>
        </span>

    </header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="{{ url_for('static', filename='css/aos.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script>
        $(document).ready(()=>{
            AOS.init()
        })
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>


</body>
</html>